# Ignore all dotenvs
.env

# Gitlab data
/core/gitlab/data/*/
!/core/gitlab/data/runner-config/
/core/gitlab/data/runner-config/config.toml

# Nginx data
/core/nginx/data/certs/*
/core/nginx/data/logs/*
/core/nginx/data/html/*
/core/nginx/data/config/virtual-hosts/*.conf

# All services data
/services/*/data/

# Ignore all project files
/projects/

!.gitkeep